body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f4f6f9;
  color: #2c3e50;
}

.layout {
  display: grid;
  grid-template-columns: 260px 1fr 1fr;
  gap: 24px;
  padding: 30px;
  height: 100vh;
  box-sizing: border-box;
}

/* COLUMNAS */
.col {
  background: transparent;
  overflow-y: auto;
}

/* TITULOS */
h2 {
  margin-top: 0;
  font-weight: 600;
}

h3 {
  margin-top: 0;
  font-weight: 500;
}

/* TARJETAS */
.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

/* LISTA PACIENTES */
.paciente-item {
  padding: 12px 14px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.04);
  transition: 0.2s;
}

.paciente-item:hover {
  background: #eef3ff;
}

.paciente-item.activo {
  background: #dbe4ff;
  font-weight: 600;
}

/* BOTONES */
.primary {
  background: #3b82f6;
  border: none;
  padding: 10px 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 10px;
}

.primary:hover {
  background: #2563eb;
}

/* INPUTS */
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  box-sizing: border-box;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

/* IMC */
.barra-imc {
  width: 100%;
  height: 14px;
  background: #e5e7eb;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
}

.progreso {
  height: 100%;
  transition: 0.4s;
}

/* DATOS CLINICOS */
.dato {
  margin-bottom: 6px;
  font-size: 14px;
}
